.wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
@media screen and (max-width: 720px) {
  .wrapper {
    flex-direction: column-reverse;
  }
  .output_area {
    min-height: 100px;
    padding: 10px 0;
  }
  .generator_area {
    border: none;
    border-top: 1px solid #b1b1b1;
  }
}
.wrapper section {
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.generator_area {
  flex-basis: 40%;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  max-height: 375px;
  overflow-y: scroll;
  padding: 5px;
}
.generator_area h3 {
  font-size: 20px;
  color: #333;
  border-bottom: 1px solid #333;
}
.generator_area p {
  color: #555;
  font-size: 17px;
}
.output_area {
  display: flex;
  flex-basis: 60%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container div {
  flex-basis: 49%;
}
.widthHeightOptions .container div {
  flex-basis: 100%;
}

/* ==make font-size slider 100% width== */

.fontSize {
  flex-basis: 100% !important;
}

/* ==make font-size slider 100% width== */

.Collapsible {
  padding: 10px 0px;
}
.Collapsible__trigger {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #4b586e;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 10px 0px;
  cursor: default;
  transition: all 0.3s;
}
.Collapsible__trigger:hover {
  background: rgba(0, 0, 0, 0.05);
}
.is-open {
  background: rgba(0, 0, 0, 0.05);
}

.codes_area {
  display: block;
  box-sizing: border-box;
  margin: 40px auto;
  max-width: 400px;
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
  border-radius: 5px;
  position: relative;
}
.codes_area .copyToClipboard {
  position: absolute;
  right: 0;
  top: -30px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  background: rgba(0, 0, 0, 0.12);
  color: #4b586e;
  transition: all 0.3s;
}
.codes_area .copyToClipboard:hover {
  background: rgba(0, 0, 0, 0.17);
}

.codes_area .copyToClipboard::after.xx {
  content: "Copied to Clipboard!";
  position: absolute;
  left: 50%;
  top: 100%;
  padding: 3px 6px;
  margin-left: -35px;
  border-radius: 5px;
  width: 70px;
  height: auto;
  font-size: 12px;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  transition: all 0.3s;
}

.codes_area ul {
  padding: 0;
  margin: 0;
  overflow: auto;
}
.codes_area ul li {
  font-family: Consolas, monospace;
  font-size: 16px;
  color: #333;
  list-style: none;
  white-space: nowrap;
}

.showCssProperty {
  display: block;
  margin-left: 20px;
}
.hideCssProperty {
  display: none;
}

:root {
  --checkedBShadowColor: #4ed164;
}
.output:checked {
  box-shadow: inset 20px 0px 0px 1px var(--checkedBShadowColor) !important;
}
